<header class="">
  <div class="header-inner">
    <div class="header-left">
      <%= link_to root_path do %>
      <h1 class="h1 logo white">RoomShare</h1>
      <% end %>
      <div class="header-search">
        <%= form_tag(search_path,:method => 'get') do %>
        <%= text_field_tag :search , "", placeholder: "エリア", class: "form-control-sm form-control home-search" %>
        <%= submit_tag '検索', class: "d-none" %>
        <% end %>

        <%= form_tag(search_path,:method => 'get') do %>
        <%= text_field_tag :keyword, "", placeholder: "キーワード" , class: "form-control-sm form-control home-search" %>
        <%= submit_tag '検索w', class: "d-none" %>
        <% end %>
      </div>
    </div>

    <div class="header-right">
      <% if user_signed_in? %>
      <div class="nav-item">
        <span class="user-name"><%= current_user.user_name %></span>
        <%# <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-primary my-2 mx-3" %>
      </div>
      <% else %>

      <div class="nav-items-right">
        <div class="nav-item">
          <%= link_to "ログイン", new_user_session_path, class: "btn btn-primary my-2 mx-3" %>
        </div>
        <div class="nav-item">
          <%= link_to "新規登録", new_user_registration_path, class: "btn btn-secondary my-2 mx-3" %>
        </div>
        <% end %>
      </div>
    </div>
</header>
