<div class="container inner">
  <div class="row mx-auto">
    <div class="col-12">
      <h4>予約済みルーム一覧</h3>
        <table class="reservations-table table table-striped">
          <tr class="thead">
            <th>ルーム名</th>
            <th>写真</th>
            <th>ルーム紹介</th>
            <th>合計料金</th>
            <th>チェックイン</th>
            <th>チェックアウト</th>
            <th>予約確定日時</th>
            <th>予約取消し</th>
          </tr>
          <tbody>
            <% @reservations.each do |r| %>
            <tr>
              <td data-label="ルーム名："><%= link_to r.room.room_name, room_path(r.room_id) %></td>
              <td><%= link_to image_tag(r.room.room_image.url), room_path(r.room_id) %></td>
              <td data-label="説明："><%= r.room.room_description %></td>
              <td data-label="料金："><%= r.total_price %>円</td>
              <td data-label="開始日："><%= r.start_date %></td>
              <td data-label="終了日："><%= r.end_date %></td>
              <td data-label="予約日時："><%= r.created_at.to_s(:datetime_jp) %></td>
              <td data-label="予約取消し："><%= link_to "キャンセル", "/reservations/#{r.id}", method: :delete, data: { confirm: "本当にキャンセルしますか？" } %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>
</div>
